job_type = 'umbrella_sampling'
topology = 'ethyl_chlorosulfite.prmtop'
batch_system = 'slurm'
restart = False
working_directory = '/scratch/tburgin/ethyl_chlorosulfite_as_parallel_manager/umbrella_sampling'
overwrite = False

us_auto_coords_directory = '/scratch/tburgin/ethyl_chlorosulfite_as_parallel_manager'
as_settings_file = '/scratch/tburgin/ethyl_chlorosulfite_as_parallel_manager/settings.pkl'

rc_definition = '-1.600 + 2.053*CV156 + 0.576*CV1 + 0.655*CV22' 
as_out_file = '/scratch/tburgin/ethyl_chlorosulfite_as_parallel_manager/as_decorr_15000.out'

us_rc_step = 0.1
us_restraint = 100
us_rc_min = -4.2
us_rc_max = 9

path_to_input_files = '/home/tburgin/ethyl_chlorosulfite/input_files'
path_to_templates = '/home/tburgin/ethyl_chlorosulfite/templates'

prod_walltime = '01:00:00'
prod_ppn = 1
