job_type = 'committor_analysis'
topology = 'ethyl_chlorosulfite.prmtop'
batch_system = 'slurm'
restart = False
working_directory = '/scratch/tburgin/ethyl_chlorosulfite_as/committor_analysis' 
overwrite = True

as_settings_file = '/scratch/tburgin/ethyl_chlorosulfite_as/settings.pkl' 

committor_analysis_use_rc_out = True
path_to_rc_out = '/scratch/tburgin/ethyl_chlorosulfite_as/rc.out'
rc_threshold = 0.0025
committor_analysis_n = 20

path_to_input_files = '/home/tburgin/ethyl_chlorosulfite/input_files'
path_to_templates = '/home/tburgin/ethyl_chlorosulfite/templates'

prod_walltime = '01:00:00'
prod_ppn = 1
